
@media screen and (max-width: 1299px) {
    .laptop-navbar{
        width: 100%;
    }
    .inner-wrap{
        width: 100%;
    }
}


@media screen and (max-width: 949px) {
    .laptop-navbar{
        display: none;
    }
    .tablet-navbar-wrap{
        display: flex;
    }
    #h-reg{
        font-size: 16px;
    }

}