

.portfolio-wrap{
    width: 100%;
    height: fit-content;
    background-color: white;
    font-family: mregular;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

#h-reg{
    font-size: 18px;
    font-family: mbold;
}

#p-reg{
    font-size: 16px;
    font-family: msemibold;
    transition: 300ms;
}

#p-sm{
    font-size: 14px;
    font-family: mlight;
}

#h4{
    font-size: 17px;
    font-family: mbold;
}

p{
    font-size: 16px;
    line-height: 1.5;
}


@keyframes appear {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes drop-out {
    from{ rotate: 0; transform-origin: right 0; }
    to{ rotate: 160deg; transform-origin: right 0; }
}

@keyframes drop-in {
    from{ rotate: 160deg; transform-origin: right 0; }
    to{ rotate: 0; transform-origin: right 0; }
}

@keyframes h2-slide {
    from{ translate: -300px; opacity: 0; }
    to{ translate: 0; opacity: 1; }
}

@keyframes width {
    from{ width: 0; }
    to{ width: 70px; }
}

@keyframes pulse {
    0% { width: 160%; translate: -130px -110px; }
    50% { width: 170%; translate: -150px -130px; }
    100% { width: 160%; translate: -130px -110px; }
}

@keyframes hero {
    from { width: 100%; }
    to { width: 40%; }
}

@keyframes appear-b {
    from { outline: 1px solid rgba(0, 128, 128, 0); }
    to { outline: 1px solid teal; }
}








/* NAVIGATION BAR */

.navbar-container{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 3px lightgray;
    display: flex;
    justify-content: center;
    color: #1A1A1A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 40px;
}


.laptop-navbar{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    position: relative;
}


.name-logo{
    width: 250px;
    height: 100%;
    /* background-color: plum; */
    display: flex;
    align-items: center;
}


.nav-right{
    width: 500px;
    height: 100%;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.nav-options{
    width: fit-content;
    height: fit-content;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    position: relative;
}

.nav-options:hover{
    cursor: pointer;
    color: #008080;
}

.nav-options:hover .faded-underline{
    display: flex;
    animation: appear 300ms 1 forwards linear;
}


.underline{
    width: 40px;
    height: 3px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    transition: 300ms;
}

.faded-underline{
    width: 40px;
    height: 2px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: 300ms;
    display: none;
}

.faded-underline2{
    width: 40px;
    height: 2px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    transition: 300ms;
}



.tablet-navbar-wrap{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.tablet-navbar{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 15;
}


.tab-nav-right{
    width: fit-content;
    height: fit-content;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 30px;
    position: relative;
    z-index: 15;
}


.drop-down{
    width: 90%;
    height: fit-content;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0;
    gap: 10px;
    transition: all 200ms linear;
}

.drop-in{
    top: 60px;
}



.highlighter{
    width: 100%;
    height: fit-content;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    /* background-color: rgba(211, 211, 211, 0.5); */
    border-bottom: 2px solid rgba(211, 211, 211, 0.5);
    border-radius: 5px;
}


.drop-bacground{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 60px;
    left: 0;
}









/* HERO */

.outer-wrap{
    width: 100%;
    height: 800px;
    max-height: 2000px;
    /* background-color: plum; */
    display: flex;
    justify-content: center;
    position: relative;
}

.inner-wrap{
    width: 1280px;
    height: 100%;
    display: flex;
    /* background-color: black; */
}


.hero{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 0 40px;
}


.hero-text-section{
    width: 530px;
    height: fit-content;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding: 0 20px; */
    opacity: 0;
    animation: appear 700ms 500ms 1 forwards linear;
}

.hero-text-section > h2{
    font-size: 53px;
    font-family: mbold;
    color: #333333;
    /* opacity: 0; */
    /* translate: -300px; */
}



button.hero-butn{
    width: 200px;
    height: 60px;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-family: mbold;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: 300ms;
    opacity: 0;
    animation: appear 600ms 1.7s 1 forwards linear;
}

button.hero-butn:hover{
    background-color: #006666;
    box-shadow: 0 0 10px #0066667c;
}

button.hero-butn:active{
    background-color: #008080;
}

  



.hero-image-section{
    width: 100%;
    height: 100%;
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    animation: hero 800ms 1s 1 forwards linear;
    /* transition: 400ms; */
}

.circle{
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    border: 10px solid #E5E5E5;
    border-radius: 50%;
    /* opacity: 0; */
    /* animation: appear 800ms 3s 1 forwards linear; */
    transition: 400ms;
    position: relative;
    overflow: hidden;
    /* background-image: url(../assets/IMAGES/photos/Me.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.circle:hover{
    box-shadow: 0 5px 20px 5px #008080;
}

.circle > img{
    width: 160%;
    translate: -130px -110px;
    /* animation: pulse 3s 4s infinite linear; */
}

.circle > img:hover{
    animation: pulse 3s infinite linear;
}












/* ABOUT */

.about{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.header-text{
    width: fit-content;
    height: fit-content;
    /* background-color: plum; */
    padding: 6px 0;
    font-size: 22px;
    color: #333333;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
}

.header-underline{
    width: 70px;
    height: 4px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    animation: 700ms 1 forwards linear;
}


.photo{
    width: 300px;
    height: 340px;
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.photo > img{
    width: 210%;
    translate: -25% -14%;
}


.about-text-wrap{
    width: 650px;
    height: fit-content;
    /* background-color: gray; */
    padding: 20px 0;
}

.about-text{
    width: 100%;
    height: fit-content;
    /* background-color: lightgray; */
    border-left: 3px solid teal;
    border-radius: 5px;
    padding: 0 15px;
}

.about-text > p{
    font-size: 18px;
    font-family: mregular;
    line-height: 1.5;
    color: #1A1A1A;
}













/* SKILLS */

.skills{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    column-gap: 30px;
    justify-content: center;
    padding: 170px 20px 20px;
}

.skills-display{
    height: fit-content;
    display: flex;
    /* background-color: plum; */
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
}


.language-skills{
    height: fit-content;
    /* background-color: lightgray; */
    /* border: 2px solid plum; */
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}


.skill-card{
    width: 50px;
    height: 70px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-family: mmedium;
    transition: 300ms;
}

.skill-card > p{
    font-size: 12px;
    font-family: mregular;
    display: none;
    opacity: 0;
}

.skill-card:hover p{
    display: flex;
    animation: appear 300ms 1 forwards linear;
}

.skill-logo{
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    transition: 300ms;
    /* background-image: url(../assets/IMAGES/skills/html_256x256.png); */
    /* border: 1px solid; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}






.skill-groups{
    height: fit-content;
    /* background-color: gray; */
    border-radius: 5px;
    grid-column: 2/span2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    padding: 20px 0;
}



.skill-group-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: #E5E5E5; */
    border-left: 3px solid #008080;
    border-radius: 5px;
    padding: 15px;
    transition: 300ms;
}

.skill-group-card:hover{
    animation: appear-b 400ms 1 forwards linear;
}


.card-indent{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    gap: 5px;
}

.indent-arrow{
    width: fit-content;
    height: fit-content;
}

#arr-right{
    font-size: 20px;
    color: #008080;
}


#arrow{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 5px;
    font-size: 18px;
    color: #008080;
    transition: 300ms;
}

#arrow:hover{
    translate: 0 3px;
}














/* WORK */

.work{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 270px;
    gap: 40px;
    padding: 170px 40px 50px;
}


.work-sample{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 15px 25px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.work-sample:hover{
    background-blend-mode: darken;
}

.work-sample:hover .info-tag{
    opacity: 1;
    bottom: 20px;

}

.info-tag{
    width: 90%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    transition: all 300ms linear;
}


.info-tag-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.info-tag-link{
    width: 50px;
    min-width: 50px;
    height: 100%;
    /* background-color: #008080; */
    display: flex;
    align-items: center;
}



/* .thumbnail{
    width: 100%;
    height: 210px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 300ms;
    overflow: hidden;
}


.desc-text{
    width: 100%;
    height: fit-content;
    background-color: plum;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
} */

/* .desc-text > h4{
    font-size: 15px;
    font-family: mbold;
}

.desc-text > p{
    font-size: 15px;
}


.thumbnail-hover{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.426);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 300ms;
}

.thumbnail-hover:hover{
    opacity: 1;
}


button#thumb-butn{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: teal;
    color: white;
    font-size: 15px;
    font-family: mbold;
    transition: 300ms;
}

button#thumb-butn:hover{
    cursor: pointer;
    background-color: #006666;
}

#b-link{
    width: fit-content;
    height: fit-content;
} */


















/* CONTACT */

.contact{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box{
    width: 500px;
    height: fit-content;
    /* background-color: #E5E5E5; */
    border: 1px solid #008080;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-wrap{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    color: #1A1A1A;
}

input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    outline: 1px solid #008080;
    background-color: #E5E5E5;
    font-size: 17px;
    color: #1A1A1A;
    transition: 300ms;
}

input:focus{
    outline: 2px solid #006666;
    box-shadow: 0 0 3px 2px #00666681;
}

textarea{
    width: 100%;
    min-height: 150px;
    background-color: #E5E5E5;
    padding: 10px;
    font-family: mregular;
    font-size: 17px;
    color: #1A1A1A;
    border: none;
    outline: 1px solid #008080;
    transition: 300ms;
}

textarea:focus{
    outline: 2px solid #006666;
    box-shadow: 0 0 3px 2px #00666681;
}


button#send{
    width: fit-content;
    height: 40px;
    padding: 0 30px;
    font-family: msemibold;
    font-size: 17px;
    color: white;
    border: none;
    background-color: #008080;
    border-radius: 5px;
    transition: 300ms;
}

button#send:hover{
    cursor: pointer;
    background-color: #006666;
    box-shadow: 0 0 5px #0066667c;
}

button#send:active{
    background-color: #006666;
}