

.portfolio-wrap{
    width: 100%;
    height: fit-content;
    background-color: white;
    font-family: mregular;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

#h-reg{
    font-size: 18px;
    font-family: mbold;
}

#p-reg{
    font-size: 16px;
    font-family: msemibold;
    transition: 300ms;
}

#p-sm{
    font-size: 14px;
    font-family: mlight;
}

#h4{
    font-size: 17px;
    font-family: mbold;
}

p{
    font-size: 16px;
    line-height: 1.5;
}


@keyframes appear {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes drop-out {
    from{ rotate: 0; transform-origin: right 0; }
    to{ rotate: 160deg; transform-origin: right 0; }
}

@keyframes drop-in {
    from{ rotate: 160deg; transform-origin: right 0; }
    to{ rotate: 0; transform-origin: right 0; }
}

@keyframes h2-slide {
    from{ translate: -300px; opacity: 0; }
    to{ translate: 0; opacity: 1; }
}

@keyframes width {
    from{ width: 0; }
    to{ width: 60px; }
}


@keyframes hero {
    from { width: 100%; }
    to { width: 40%; }
}

@keyframes appear-b {
    from { outline: 1px solid rgba(0, 128, 128, 0); }
    to { outline: 1px solid teal; }
}








/* NAVIGATION BAR */

.navbar-container{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 3px lightgray;
    display: flex;
    justify-content: center;
    color: #1A1A1A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 40px;
}


.laptop-navbar{
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    position: relative;
}


.name-logo{
    width: 250px;
    height: 100%;
    /* background-color: plum; */
    display: flex;
    align-items: center;
}


.nav-right{
    width: 500px;
    height: 100%;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.nav-options{
    width: fit-content;
    height: fit-content;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    position: relative;
}

.nav-options:hover{
    cursor: pointer;
    color: #008080;
}

.nav-options:hover .faded-underline{
    display: flex;
    animation: appear 300ms 1 forwards linear;
}


.underline{
    width: 40px;
    height: 3px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    transition: 300ms;
}

.faded-underline{
    width: 40px;
    height: 2px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: 300ms;
    display: none;
}

.faded-underline2{
    width: 40px;
    height: 2px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    transition: 300ms;
}



.tablet-navbar-wrap{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.tablet-navbar{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 15;
}


.tab-nav-right{
    width: fit-content;
    height: fit-content;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 30px;
    position: relative;
    z-index: 15;
}


.drop-down{
    width: 90%;
    height: fit-content;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    transition: all 200ms linear;
}

.drop-in{
    top: 60px;
}



.highlighter{
    width: 100%;
    height: fit-content;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    /* background-color: rgba(211, 211, 211, 0.5); */
    border-bottom: 2px solid rgba(211, 211, 211, 0.5);
}


.drop-bacground{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 60px;
    left: 0;
}









/* HERO */

.outer-wrap{
    width: 100%;
    height: 800px;
    /* max-height: 2000px; */
    /* background-color: plum; */
    display: flex;
    justify-content: center;
    position: relative;
}

.inner-wrap{
    width: 1280px;
    height: 100%;
    display: flex;
    /* background-color: black; */
}


.hero{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 0 40px;
}


.hero-text-section{
    width: 530px;
    height: fit-content;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding: 0 20px; */
    opacity: 0;
    animation: appear 700ms 500ms 1 forwards linear;
}

.hero-text-section > h2{
    font-size: 53px;
    font-family: mbold;
    color: #333333;
}



button.hero-butn{
    width: 200px;
    height: 60px;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-family: mbold;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: 300ms;
    opacity: 0;
    animation: appear 600ms 1.7s 1 forwards linear;
}

button.hero-butn:hover{
    background-color: #006666;
    box-shadow: 0 0 10px #0066667c;
}

button.hero-butn:active{
    background-color: #008080;
}

  



.hero-image-section{
    width: 100%;
    height: 100%;
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    animation: hero 800ms 1s 1 forwards linear;
}

.circle{
    width: 400px;
    height: 400px;
    border: 10px solid #E5E5E5;
    border-radius: 50%;
    transition: 400ms;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.circle:hover{
    box-shadow: 0 5px 20px 5px #008080;
}














/* ABOUT */

.about{
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 25px;
    padding: 150px 40px 50px;
}

.header-text{
    width: fit-content;
    height: fit-content;
    /* background-color: plum; */
    padding: 6px 0;
    font-size: 22px;
    color: #333333;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
}

.header-underline{
    height: 3px;
    background-color: #008080;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    animation: 700ms 1 forwards linear;
}


.photo-info-wrap{
    min-width: 50%;
    height: fit-content;
    display: flex;
    gap: 20px;
    align-items: center;
    /* background-color: red; */
}

.photo{
    width: 270px;
    min-width: 270px;
    height: 270px;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    align-items: end;
    overflow: hidden;
    z-index: 3;
}

.photo > img{
    width: 100%;
}

.about-info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    /* background-color: palevioletred; */
    transition: all 300ms linear;
    z-index: 1;
}


.about-text-wrap{
    width: 50%;
    height: fit-content;
    /* background-color: gray; */
}

.about-text{
    width: 100%;
    height: fit-content;
    /* background-color: lightgray; */
    border-left: 3px solid teal;
    border-radius: 5px;
    padding-left: 15px;
}

.about-text > p{
    font-size: 18px;
    font-family: mregular;
    line-height: 1.5;
    color: #1A1A1A;
    margin-bottom: 4px;
}













/* SKILLS */

.skills{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 170px 40px 50px;
    /* background-color: gray; */
}

.skills-display{
    height: fit-content;
    display: flex;
    /* background-color: plum; */
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
}


.language-skills{
    height: fit-content;
    /* background-color: lightgray; */
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
}

.language-skills.visible{
    display: flex;
}



.skill-card{
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: mmedium;
    transition: 300ms;
}


.skill-info{
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-info > p{
    font-size: 14px;
}

.skill-bar{
    width: 100%;
    height: 8px;
    background-color: #E5E5E5;
}

.bar-filler{
    width: 0%;
    height: 100%;
    background-color: teal;
    animation: 600ms 1 forwards linear;
}






.skill-groups{
    height: fit-content;
    /* background-color: gray; */
    border-radius: 5px;
    display: grid;
    row-gap: 40px;
    padding: 20px 0;
}



.skill-group-card{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: #E5E5E5; */
    border: 1px solid teal;
    border-left-width: 3px;
    border-radius: 5px;
    padding: 15px;
    transition: all 300ms linear;
}

.skill-group-card:hover{
    /* animation: appear-b 400ms 1 forwards linear; */
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}


.card-indent{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    gap: 5px;
}

.indent-arrow{
    width: fit-content;
    height: fit-content;
}

#arr-right{
    font-size: 20px;
    color: #008080;
}


#arrow{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 5px;
    font-size: 32px;
    color: #008080;
    border: 1px solid;
    border-radius: 5px;
    transition: all 300ms linear;
}

#arrow:hover{
    translate: 0 3px;
}
















/* WORK */

.work-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 150px 40px 50px;
}

.work-options{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

p.work-head{
    font-weight: 600;
    color: #1A1A1A;
    cursor: pointer;
    transition: all 200ms linear;
}

p.work-head:hover{
    color: teal;
}


.work{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    transition: all 200ms linear;
}


.work-sample{
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid transparent;
    padding: 15px 15px 25px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all 300ms linear;
}

.work-sample:hover{
    background-blend-mode: darken;
    border-bottom: 3px solid teal;
    transform: translateY(-5px);
}

.work-sample:hover .info-tag{
    opacity: 1;
    bottom: 20px;

}

.info-tag{
    width: 90%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    transition: all 300ms linear;
}


.info-tag-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.info-tag-link{
    width: 50px;
    min-width: 50px;
    height: 100%;
    /* background-color: #008080; */
    display: flex;
    align-items: center;
}



















/* CONTACT */

.contact{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 170px 40px 50px;
}

.contact-addresses{
    width: 100%;
    height: fit-content;
    border: 1px solid transparent;
    border-bottom: 3px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.contact-addresses:hover{
    border: 1px solid teal;
    border-bottom: 3px solid teal;
}

.adress-container{
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.adress-logo{
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;
}

.adress-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contact-box{
    width: 100%;
    height: fit-content;
    /* background-color: #E5E5E5; */
    border: 1px solid transparent;
    border-bottom: 3px solid transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-box:hover{
    border: 1px solid teal;
    border-bottom: 3px solid teal;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

}

.input-wrap{
    width: 100%;
    height: fit-content;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    color: #1A1A1A;
}

input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    outline: 1px solid #008080;
    /* background-color: #E5E5E5; */
    font-size: 17px;
    color: #1A1A1A;
    transition: 300ms;
}

input:focus{
    outline: 2px solid #006666;
    box-shadow: 0 0 3px 2px #00666681;
}

textarea{
    width: 100%;
    min-height: 150px;
    /* background-color: #E5E5E5; */
    padding: 10px;
    font-family: mregular;
    font-size: 17px;
    color: #1A1A1A;
    border: none;
    outline: 1px solid #008080;
    transition: 300ms;
}

textarea:focus{
    outline: 2px solid #006666;
    box-shadow: 0 0 3px 2px #00666681;
}


button#send{
    width: fit-content;
    height: 40px;
    padding: 0 30px;
    font-family: msemibold;
    font-size: 17px;
    color: white;
    border: none;
    background-color: #008080;
    border-radius: 5px;
    transition: 300ms;
}

button#send:hover{
    cursor: pointer;
    background-color: #006666;
    box-shadow: 0 0 5px #0066667c;
}

button#send:active{
    background-color: #006666;
}








/* FOOTER */

.footer{
    width: 100%;
    height: 80px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.footer > p{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    gap: 2px;
}












@keyframes ninety-five {
    from { width: 0%; }
    to { width: 95%; }
}

@keyframes ninety {
    from { width: 0%; }
    to { width: 90%; }
}

@keyframes eighty-five {
    from { width: 0%; }
    to { width: 85%; }
}

@keyframes eighty {
    from { width: 0%; }
    to { width: 80%; }
}

@keyframes seventy-five {
    from { width: 0%; }
    to { width: 75%; }
}

@keyframes seventy {
    from { width: 0%; }
    to { width: 70%; }
}




