@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 560px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
}

*{
    box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

@font-face {
    font-family: mregular;
    src: url(./assets/FONT/Mulish-Regular.ttf);
}

@font-face {
    font-family: mmedium;
    src: url(./assets/FONT/Mulish-Medium.ttf);
}

@font-face {
    font-family: mlight;
    src: url(./assets/FONT/Mulish-Light.ttf);
}

@font-face {
    font-family: mextralight;
    src: url(./assets/FONT/Mulish-ExtraLight.ttf);
}

@font-face {
    font-family: mbold;
    src: url(./assets/FONT/Mulish-Bold.ttf);
}

@font-face {
    font-family: msemibold;
    src: url(./assets/FONT/Mulish-SemiBold.ttf);
}

@font-face {
    font-family: mextrabold;
    src: url(./assets/FONT/Mulish-ExtraBold.ttf);
}


